@import 'https://fonts.googleapis.com/css?family=Abel%7CPoiret+One';
@import 'https://fonts.googleapis.com/css?family=Raleway';

* {
   -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
         box-sizing: border-box;
}
.group:after {
    content: "";
    display: table;
    clear: both;
}

html {
  background-image: url("http://i.imgur.com/oPKHVSt.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Raleway', sans-serif;
}

body{
   font-size: 62.5%;
}

.well {
  width: 45%;
  height: 25em;
  background-color: rgba(245, 245, 245, 0.6);
  margin: 0 auto;
  border-radius: 15px;
}

/*.containerindex {
  margin-top: 220px;
}*/

.spacing {
  margin: 1px;
}

.custom {
  width: 150px;
}

input {
  height: 40px;
  width: 150px;
}

/*body {
  font-family: 'Source Sans Pro', sans-serif; font-size: 14px; color: #666;
}*/


.container {
    width: 70%;
    background: rgba(255, 255, 255, 0.95);
    margin: 1em auto 10em auto;
    padding: 2em;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

h1 {
 color: white;
 margin: 0.5em auto 1em auto;
 text-align: center;
 /*font-family: 'Poiret One', cursive;*/
 font-size: 5em;
 font-weight: bold;
}

.button {
 clear: both;
 margin: 0.5em auto;
 width: 60%;
 height: auto;
 background: #21DADD;
 text-align: center;
 padding: 1em;
 font-size: 1.5em;
 border-radius: 3px;
 color: black;
 box-shadow: 3px 3px 2px #888888;
}

.scrollable-menu {
   height: auto;
   max-height: 80px;
   overflow-x: hidden;
}

#logo {
  width: 150px;
  height: 150px;
}

#logo2 {
  width: 80px;
  height: 80px;
}

#login-form {
  display: flex;
  flex-direction: column;
  width: 70%;
  color: black;
}

input[type='text'], input[type='password'] {
    border-radius: 3px;
    width: 100%;
}

p {
  font-size: 1.5em;
}
