@import 'https://fonts.googleapis.com/css?family=Raleway';

html {
  margin: 10px;
  font-family: 'Raleway', sans-serif;
}

body {
    background-image: url("http://i.imgur.com/2CJXqsV.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
  text-align: center;
  margin-left: 2px;
}

input {
  margin: 4px;
}

footer {
  text-align: center;
}

.main, .city-box, .att-box {
  margin: 2px;
  padding: 5px;
  border-radius: 3px;
}

.main {
  background-color: rgba(230, 230, 230, 0.7);
}

/*default background if no image*/
.city-box {
  background-color: rgba(210, 210, 210, 0.7);
}

.att-box {
  background-color: rgba(200, 200, 200, 0.7);
}

#save-trip, .save-btn {
  margin: 5px;
  color: black;
  border: none;
  box-shadow: 3px 3px 2px #888888;
  border-radius: 3px;
  background-color: rgba(150, 230, 230, 0.7)
}

.save-btn {
  height: 40px;
  width: 100px;
}

#logo {
  width: 50px;
  height: 50px;
}

#logop {
  width: 90px;
  height: 90px;
}
.city-box, .att-name {
  cursor: pointer;
}

.top-head {
  display: flex;
  align-items: center;
  justify-content: center;
}

.city-box {
  /*background-image: url("http://i.imgur.com/DkuNhAE.jpg");*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: 3px 3px 3px #888888;
  color: white;
}

input[type='text'] {
    border-radius: 3px;
    width: 30%;
}

.glyphicon-menu-hamburger {
  color: #21DADD;
}
